body {
    padding: 0px;
    margin: 0px;
    background:  #ffffff;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 10% auto 10%;
    height: 100vh;
}

header {
    grid-area: header;
    background: #737471;
    padding: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #737471;
    font: Arial;
    font-size: 20px;
    display:grid; 
    grid-template-areas: "header1 header2 header3";
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
}
    #b_home { /* bei Verwendung von ID #; bei class Div"."Classname */;
        grid-area:header1;
        padding: 10px;
    }

    #zeit {
        grid-area:header2;
        padding:20px;
        font-size:30px;
        text-align:center;
    }

    #datum {
        grid-area:header3;
        padding:20px;
        text-align:right;
    }
    
main {
    grid-area: main;
    background:  #ffffff;
    padding: 0px;
    display:grid;
    align-content: center; /*keine "Ausbreitung" auf ganzes main*/    
}     

    #menue {
        padding:40px;
        display:grid; /*display-flex = alle in einer Reihe*/
        grid-template-columns: auto auto auto;
        grid-template-rows:auto auto;
        grid-gap: 20px;
    }
    button {
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        /*align-items: center; /* mittlere Zeile
        align-content: center;*/
    }
    
    #b_musik {
        grid-column: 1;
        grid-row:1;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        }
    
    #b_geschwindigkeit {
        grid-column: 2;
        grid-row:1;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        }
    #b_temperatur {
        grid-column: 3;
        grid-row:1;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        } 
    
    #b_navi {
        grid-column: 4;
        grid-row:1;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        }
    
    #b_tanken {
        grid-column: 1;
        grid-row:2;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        }
    
    #b_fenster {
        grid-column: 2;
        grid-row:2;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
        }
    
    #b_schloss {
        grid-column: 3;
        grid-row:2;
        margin: 20px;
        padding: 20px;
        flex-wrap:wrap;
                }

        
    Div.Daten_Verbrauch {
        grid-area: Icon2;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
        width: auto;
        height: 50%;
    }

    Div.Daten_Geschwindigkeit {
        grid-area: Icon2;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
    }

    Div.Daten_Temperatur {
        grid-area: Icon1;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
    }

    Div.Daten_Druck {
        grid-area: Icon2;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
    }

    Div.Daten_Feuchtigkeit {
        grid-area: Icon3;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
    }

    Div.Daten_Musik {
        grid-area: Icon3;
        margin: 10px;
        padding: 10px;
        background: #737471;
        border-style: solid;
        border-radius: 20px;
        border-color: #737471;
        display: center; 
        justify-content: center; /*Inhalt in der Mitte des Buttons */
        flex-wrap:wrap;
    }


footer {
    grid-area: footer;
    background: #737471;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #737471;
    text-align: right;
    display:grid; 
    grid-template-areas: "footer1 footer2 footer3";
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto;
}

#autor {
    grid-area:footer3;
    text-align:right;
}
